<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {
        title : "Grabaciones"
    }) %>
<body class="pagina-grabaciones">
    <!--Cabezera-->
    <%- include('../partials/header') %>
    <main>
        
        <section>
            <h2 class="Titulo2">Grabaciones anteriores</h2>
            <div class="images-container-prox">
       <% records.forEach(({title, link}) => { %>
            <article>
                
                <iframe src="<%= link %>" title= "<%= title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
               <h4 class="subTittle"><%= title %></h4>
            </article> 
                
        <% }) %>
        
          
            
        </section>
        </div>
      
    </main>
   
      
    <%- include('../partials/footer') %>
</body>
</html>